#All {
    text-align: left;
    margin: 25px;
    height: 50px;
    bottom: -50px;
}
#Title {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 20px;
    color: rgb(225, 31, 31);
    padding: 30px;
    left: -20px;
    height: 50px;
    bottom: 10px;
}
#Subheading{
    position: relative;
    bottom: 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 17px;
    text-align: left;
}
#textboxes {
    position: relative;
    bottom: 30%;
    text-align: left;
    margin: 10px;
    height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    
}
#textboxes > input {
    margin: 5px;
    width: 300px;
    border-width: 10%;
    border-color:azure;
    width: 40%;
    height: 30px;
    
}
#textboxes > input::selection {
    border-color:  rgb(0, 149, 255);
}
#Submit {
    position: relative;
    bottom: -250px;
    left: 46%;
    height: 30px;
    background-color: rgb(0, 149, 255);
    color: white;
    font-weight: bold; 
    border-color: rgb(0, 149, 255);
}
#ExternalLinks {
    position: relative;
    float: right;
    bottom: 330%;
    left: 20px;
}